.Card{
    display: inline-grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 150px;
    width: 20%;
    margin: 5%;
    margin-top: 2%;
    border: none;
    border-radius: 10px;
    background-color: rgba(14, 14, 14, 0.92);
    font-family: 'Alegreya SC', serif;
}

.Card:hover{
    transition: .5s;
    transform: scale(1.5)
}

.Img{
    text-decoration: none;
    color: rgb(203, 202, 202);
    position: relative;
    left: 0%;
    top: 10%;
    width: 83%;
    height: 80%;
    border-style: groove;
    border-radius: 7px;
}

.Img:hover{
    cursor: pointer;
}

.Name{
    color: rgb(203, 202, 202);
    font-size: 18px;
    position: relative;
}

.RatingTop{
    display: block;
    margin-left: 45%;
    width: 12%;
    height: 18px;
    font-size: 12px;
    color: rgb(203, 202, 202); 
    background-color: rgba(46, 37, 37, 0.831);
    border-radius: 7px;
}

p{
    display: inline-grid;
    font-size: 70%;
    font-weight: 500;
    color: rgb(203, 202, 202);
    width: 70px;
    background-color: rgb(64, 64, 67);
    border-radius: 10px;
    margin: 5px;

}