
.Container{
    display: inline-grid;
    
    width: 30%;
    height: 250px;
    /* border-style: groove;  */
    padding: 10px;
    position: relative;
}
.Card{
    display: grid;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background-color: rgba(14, 14, 14, 0.719);
    box-sizing: content-box;
    width: 80%;
    height: 100%;
    margin-top: 10px;

}

img{
    align-self: center;
    width: 200px;
    height: 80%;
    border-style: groove;
    border-radius: 7px;
}

.Name{
    color: white;
    font-size: smaller;
    position: relative;
    top: 10%;
}

p{
    font-size: 70%;
    font-weight: 500;
    display: inline-block;
    width: 70px;
    background-color: rgb(93, 67, 155);
    border-radius: 10px;
    margin: 5px;
}