.Prev, .Next{
    width: 30px;
    height: 30px;
    font-size: 15px;
    position: relative;
}

.Prev{
    right: 35%;
}

.PageNum{
    font-size: 95%;
    width: 20px;
    padding: 5px;
    border: none;
    border-radius: 15px;
    color: rgb(203, 202, 202);
    font-family: 'Alegreya SC', serif;
    background-color: rgba(14, 14, 14, 0.92);
}

.Next{
    left: 35%;
}

@media screen and (max-width: 600px){
    .PageNum{
        position: relative;
        left: 5%;
    }
}
