@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&display=swap');
@keyframes changeBackgroundColor {
    from {
        background-color: rgba(14, 14, 14, 0.92);
    }
    to {
        background-color: #301108e7;
    }
}

@keyframes changeFontColor {
    from {
        color: rgb(117, 63, 15);
    }
    to {
        color: #470701;
    }
}

.Block{
    background-color: rgba(0, 0, 0, 0.865);
    color: rgb(203, 202, 202);
    font-family: 'Alegreya SC', serif;
    position: absolute;
    left: 30%;
    width: 500px;
    height: 577px;
}

.Text{
    position: relative;
    top: 10%;
    margin: 10%
}

.Enter{
    position: absolute;
    bottom: 100px;
    left: 35%;
    text-decoration: none;
    font-size: 10px;
    font-family: 'Alegreya SC', serif;
    color: rgb(203, 202, 202);
    animation: changeBackgroundColor 5s infinite alternate;
    border-style: groove;
    border-radius: 50px;
    width: 30%;
}

.Enter:hover{
    background-color: rgba(14, 14, 14, 0.92);
    animation: changeFontColor 1s infinite alternate;
}