@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&display=swap');
@keyframes changeBackgroundColor {
    from {
        background-color: rgba(14, 14, 14, 0.92);
    }
    to {
        background-color: #301108e7;
    }
}

@keyframes changeFontColor {
    from {
        color: rgb(117, 63, 15);
    }
    to {
        color: #470701;
    }
}

.LandingPage{
    background-image: url('https://c.tenor.com/cZvfUv6UugAAAAAd/dark-souls-sit.gif');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
}

.Enter{
    position: absolute;
    bottom: 35%;
    left: 45%;
    text-decoration: none;
    font-size: 10px;
    font-family: 'Alegreya SC', serif;
    color: rgb(203, 202, 202);
    animation: changeBackgroundColor 5s infinite alternate;
    border-style: groove;
    border-radius: 50px;
    width: 150px;
}

.Enter:hover{
    background-color: rgba(14, 14, 14, 0.92);
    animation: changeFontColor 1s infinite alternate;
}