@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook&display=swap');

.NavBar{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 91px;
    color: rgb(203, 202, 202);
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 97px;
    justify-content: space-between;
    align-items: center;
    font-weight: 800;
    font-size: 120%;
}

.Logo{
    width: 90px;
}

.LinkHome{
    animation: changeFontColor 3s infinite alternate;
    position: relative;
    right: 50%;
}

.LinkHome, .LinkOne{
    position: relative;
    margin-right: 10%;
    text-decoration: none;
    color: rgb(203, 202, 202);
    font-family: 'Alegreya SC', serif;
}

.LinkOne{
    width: 180px;
}

.LinkOne:hover{
    cursor: pointer;
    border-bottom: 2px solid #682411;
}

@media screen and (max-width: 600px){
    .NavBar{
        display: grid;
    }
    .LinkHome{
        right: 10px;
    }
    .LinkOne{
        width: 100px;
        margin-left: 10px;
    }
}
