@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook&display=swap');

.NavBar{
    background-color: rgb(0, 0, 0);
    padding: 1px;
    color: rgb(203, 202, 202);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 800;
    font-size: 120%;
}

.Logo{
    width: 90px;
    margin-right: 4%;
    margin-left: 50px;
    margin-bottom: -4%;
}

.LinkHome{
    animation: changeFontColor 3s infinite alternate;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 160px;
}

.LinkHome, .LinkOne{
    margin-right: 7%;
    text-decoration: none;
    color: rgb(203, 202, 202);
    font-family: 'Alegreya SC', serif;
}

.LinkOne:hover{
    cursor: pointer;
    border-bottom: 2px solid #682411;
}

@media screen and (max-width: 600px){
    .NavBar{
        display: grid;
    }
    .LinkOne{
        position: relative;
        left: 130px;
        width: 110%;
        margin-top: 1px;
        border-top: 1px solid;
        border-color: aliceblue;
    }
}
